.body-page {
  width: 320px;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  outline: 5px solid rgba(0, 255, 0, 0.8);
  outline-offset: -5px;
  // background-color: $acqua;
}
