.body-page {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  background-color: $white;
}

.body-page__header {
  background: $white-gray;
}

.body-page--index .body-page__header {
  @include tablet {
    background: #fbfbfb;
  }
}

.body-page__title {
  @include tablet {
    background: $white-gray;
  }
}

.body-page--index .body-page__title {
  @include tablet {
    background: none;
  }
}

@media (min-width: $tablet) {
  .body-page {
    font-size: 17px;
    line-height: 30px;
  }
}
