.about {
  padding: 0 31px;

  @include tablet {
    padding: 3px 50px 0 50px;
  }

  @include desktop {
    padding: 39px 50px 0 66px;
  }
}

.about__container {
  width: 262px;
  margin: 0 auto;

  @include tablet {
    width: 100%;
  }

  @include desktop {
    width: 717px;
    margin: 0 auto;
  }
}

.about__title {
  margin-bottom: 82px;

  @include tablet {
    margin-bottom: 98px;
  }

  @include desktop {
    gap: 28px 56px;

  }
}

.about__list {
  @include list-reset;
  margin-bottom: 56px;

  @include tablet {
    display: flex;
    flex-wrap: wrap;
    gap: 28px 40px;


  }
  @include desktop {
    gap: 28px 56px;
  }

}

.about__item {
  position: relative;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 83px;
  width: 250px;

  @include tablet {
    font-size: 20px;
    line-height: 22px;
    width: 295px;
  }
}

.about__item::before {
  position: absolute;
  content: "";
}

.about__item--eco::before {
  background-image: url("../img/about/eco.svg");
  width: 33px;
  height: 38px;
  top: -57px;
  left: 8px;
}

.about__item--scand::before {
  background-image: url("../img/about/scand.svg");
  width: 47px;
  height: 27px;
  top: -54px;
  left: 1px;
}

.about__item--like::before {
  background-image: url("../img/about/like.svg");
  width: 34px;
  height: 27px;
  top: -48px;
  left: 8px;
}

.about__item--knot::before {
  background-image: url("../img/about/knot.svg");
  width: 35px;
  height: 34px;
  top: -53px;
  left: 2px;
}

.about__item--domestic::before {
  background-image: url("../img/about/domestic.svg");
  width: 55px;
  height: 23px;
  top: -51px;
  left: -7px;
}

.about__item--box {
  margin-bottom: 0;
}

.about__item--box::before {
  background-image: url("../img/about/box.svg");
  width: 33px;
  height: 32px;
  top: -52px;
  left: 2px;
}

//tablet//

.about__item--eco {
  @include tablet {
    order: -6;
  }
}

.about__item--knot {
  @include tablet {
    order: -5;
  }
}

.about__item--scand {
  @include tablet {
    order: -4;
  }
}

.about__item--domestic {
  @include tablet {
    order: -3;
  }
}
