.catalog-main {
  flex: 1;
}

.catalog-main__title {
  margin-bottom: 30px;
  padding: 74px 34px 73px 41px;

  @include tablet {
    padding: 56px 34px 73px 41px;
    text-align: center;
    margin-bottom: 80px;

  }
  @include desktop {
    margin-bottom: 111px;

  }
}
@include desktop {

}
.catalog-main__container {
  padding-left: 30px;
  padding-right: 30px;

  @include tablet {
    padding-left: 50px;
    padding-right: 50px;
  }

  @include desktop {
    width: 1050px;
    margin: 0px auto 48px;
    padding: 0;
  }
}
