.conection__input {
  padding-top: 16px;
  padding-right: 0;
  padding-bottom: 17px;
  border: 0;
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  font-family: "Open Sans";

  @include tablet {
    background: $white-gray;
    font-size: 19px;
    line-height: 18px;
    padding-left: 17px;
  }
}

.conection .form__legend {
  column-gap: 29px;
  margin-bottom: 5px;
}

.conection__input-wrapper {
  display: flex;
  align-items: center;
  border-bottom: 2px solid $light-black;

  @include tablet {
    width: 100%;
  }

  @include desktop {
    width: 76%;
  }
}

.conection__svg {
  margin-left: auto;
  align-items: center;
  margin-right: 6px;

  @include tablet {
    margin-right: 21px;
  }

  @include desktop {
    margin-right: 0;
  }
}

.conection__input--mail {
  padding-top: 13px;
}

.conection__input:hover {
  outline: 0;
  border-color: #62d1ba;
}

.conection__input:active {
  outline: 0;
  border-color: #62d1ba;
}

.conection__input:hover .conection__svg,
.conection__input:active .conection__svg{
  color: #62d1ba;
}
