.contact {
  padding: 0 20px;
}

.contact__title {
  margin-bottom: 28px;
}

.contact__email {
  margin-right: 30px;
}

.contact__email-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 33px;
}

.contact__email-link {
  font-size: 14px;
  line-height: 28px;
  border-bottom: 1px solid #62d1ba;
}

.contact__address-wrapper {
  display: flex;
  gap: 31px;
  margin-bottom: 61px;
}

.contact__address {
  font-size: 14px;
  line-height: 30px;
  width: 183px;
}

.contact__map {
  position: relative;
  display: block;
  border: none;
  width: 100%;
}


.contact__map-wrapper {
  position: relative;
  margin-bottom: 34px;
  margin-left: -22px;
}

.contact__map::after {
  position: absolute;
  content: "";
  background: url("../img/contact/map-pin.svg") no-repeat;
  bottom: 47%;
  left: 54%;
  transform: translateX(-50%);
  width: 67px;
  height: 100px;
}

.contact__map-button {
  margin-bottom: 39px;
}

.contact__email-link:hover {
  color: #46c1ae;
}

@media (min-width: $tablet) {
  .contact {
    padding: 0;
  }

  .contact__container {
    padding: 25px 36px 0 50px;
  }

  .contact__title {
    margin-bottom: 0;
    position: relative;
  }

  .contact__title::after {
    position: absolute;
    content: "";
    background: url("../img/contact/flag.svg");
    right: 0;
    top: -25px;
    width: 47px;
    height: 81px;

    @media (min-resolution: 2dppx) {
      background: url("../img/contact/flag@2x.svg");
    }
  }

  .contact__main-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 51px;
    margin-bottom: 49px;
  }

  .contact__email-wrapper {
    margin-bottom: 0;
  }

  .contact__email {
    margin: 0;
    min-width: 78px;
  }

  .contact__email-link {
    font-size: 17px;
    line-height: 30px;
  }

  .contact__address-wrapper {
    padding-top: 49px;
    gap: 0;
    margin-bottom: 0;
  }

  .contact__address {
    font-style: normal;
    font-size: 17px;
    line-height: 30px;
    margin-left: 27px;
    width: 222px;
  }

  .contact__map-wrapper {
    margin-bottom: 50px;
  }

  .contact__map {
    margin-bottom: 57px;
  }

  .contact__map::after {
    bottom: 48%;
    left: 53%;
  }

  .contact__map-button {
    margin: 0 auto;
    max-width: 230px;
    padding: 14px 0;
  }
}

@media (min-width: $desktop) {
  .contact {
    display: grid;
    grid-template-columns: 348px 527px;
    column-gap: 54px;
    padding: 97px 0 0 173px;
  }

  .contact__container {
    width: 1050px;
    margin: 0 auto;
    grid-column: 1/2;
    grid-row: 1/3;
    padding: 81px 36px 0 50px;
  }

  .contact__main-wrapper {
    display: block;
    margin-bottom: 0;
  }

  .contact__address-wrapper {
    padding-top: 29px;
  }

  .contact__address {
    margin-left: 27px;
  }

  .contact__map-wrapper {
    margin-bottom: 0;
    grid-column: 2/3;
    grid-row: 1/3;
  }

  .contact__map {
    margin-bottom: 0;
  }

  .contact__map-button {
    grid-column: 1/2;
    grid-row: 2/3;
    font-size: 17px;
    min-width: 230px;
  }

  .contact__title {
    margin-bottom: 36px;
  }

  .contact__title::after {
    left: -111px;
    top: -17px;
  }

}

