.contact__title {
  margin-left: 26px;
  margin-bottom: 28px;
}

.contact__email {
  margin-left: 26px;
  margin-right: 30px;
}

.contact__email-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 33px;
  padding-right: 81px;
}

.contact__email-link {
  font-size: 14px;
  line-height: 28px;
}

.contact__address-wrapper {
  display: flex;
  margin-left: 24px;
  margin-bottom: 61px;
}

.contact__address {
  margin-left: 32px;
  font-size: 14px;
  line-height: 30px;
  width: 183px;
}

.contact__map-image {
  display: block;
  margin: 0 auto;
}

.contact__map iframe {
  display: block;
}

.contact__map-button {
  margin-bottom: 39px;
}

.contact__email-link:hover {
  color: #46c1ae;
}

@media (min-width: $tablet) {
  .contact {
    padding: 2px 40px 49px 23px;
  }

  .contact__title {
    // margin-left: 51px;
    margin-bottom: 7px;
    position: relative;
  }

  .contact__title::after {
    position: absolute;
    content: "";
    background: url("../img/contact/flag.svg");
    right:0;
    top: -20px;
    width: 47px;
    height: 81px;

    @media (min-resolution: 2dppx) {
      background: url("../img/contact/flag@2x.svg");
    }
  }

  .contact__main-wrapper {
    display: flex;
    margin-bottom: 65px;
  }

  .contact__email-wrapper {
    padding-right: 28px;
    margin-bottom: 0;
  }

  .contact__email {
    margin-left: 25px;
    margin-right: 26px;
  }

  .contact__email-link {
    font-size: 17px;
    line-height: 30px;
  }

  .contact__address-wrapper {
    align-self: center;
    padding-right: 60px;
    margin-bottom: 0;
    padding-top: 43px;
  }

  .contact__address {
    font-size: 17px;
    line-height: 30px;
    margin-left: 24px;
  }
  .contact__map {
    margin-bottom: 47px;
  }
  .contact__map-button {
    margin: 0 auto;
    max-width: 230px;
    padding: 14px 0;
  }

}

