.hero {
  background-color: #f9f9f9;
}

.hero__title {
  padding: 72px 15px 120px 0;
  text-align: center;
  position: relative;
  width: 260px;
  margin: 0 auto;
  z-index: 5;
}

.hero__title::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("../img/hero/hero-bg.jpg");
  background-repeat: no-repeat;
  background-position: 55% -21px;
  background-size: auto 133%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

.hero__list {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.hero__item {
  position: relative;
  text-align: left;
}

.hero__item--inter {
  background-color: #63d1bb;
}

.hero__item--inter::after {
  position: absolute;
  content: " ";
  background-image: url("../img/hero/lamp.svg");
  top: 27%;
  right: 33px;
  width: 40px;
  height: 62px;
}

.hero__item--toy {
  background-color: #56c3b2;
}

.hero__item--toy::after {
  position: absolute;
  content: " ";
  background-image: url("../img/hero/lego.svg");
  top: 29%;
  right: 34px;
  width: 60px;
  height: 60px;
}

.hero__link {
  color: #ffffff;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  padding: 24px 160px 31px 20px;
  width: 130px;
}

.hero__item--toy:hover {
  background: #46c1ae;
}

.hero__item--inter:hover {
  background: #59d5bc;
}


.hero__link:hover {
  padding-top: 21px;
}

//tablet//
@media (min-width: $tablet) {
  .hero{
    position: relative;
  }
  .hero::after{
    position: absolute;
    content: "";
    background: url("../img/product/zigzag-fill.svg") repeat-x;
    width: 100%;
    height: 24px;
    bottom: -13px;
    left: 0;
    background-position-x: center;
  }

  .hero__container {
    padding: 0 50px;
  }

  .hero__title {
    padding: 111px 6px 372px 5px;
    min-width: 650px;
  }

  .hero__title::before {
    background-size: 766px;
    background-position: 52% -43px;
    background-image: url("../img/hero/hero-desktop.jpg");
  }

  .hero__list {
    display: flex;
    flex-wrap: wrap;
  }

  .hero__item {
    width: 50%;
  }

  .hero__item--inter::after {
    top: 26%;
    right: 36px;
  }

  .hero__item--toy::after {
    top: 26%;
    right: 34px;
  }

  .hero__link {
    font-size: 20px;
    line-height: 30px;
    padding-left: 36px;
    padding-top: 26px;
  }
}
//desktop//
@media (min-width: $desktop) {
  .hero::after {
    background: url("../img/product/zigzag-fill-desktop.svg") repeat-x;
    height: 34px;
    bottom: -20px;
    left: 0;
    z-index: 15;

    @media (min-resolution: 2dppx) {
      background: url("../img/product/zigzag-fill-desktop@2x.svg");
    }
  }

  .hero__container {
    margin: 0 auto;
    width: 1050px;
    padding: 0;
  }

  .hero__title {
    padding: 112px 6px 356px 21px;
  }

  .hero__title::before {
    background-position: 43% -45px;
  }

  .hero__list {
    margin-left: 8px;
  }

}
