.hero {
  width: 100vw;
  background-color: #f9f9f9;
}

.hero__title {
  padding: 72px 7px 120px 0;
  text-align: center;
  position: relative;
  width: 260px;
  margin: 0 auto;
  z-index: 5;
}

.hero__title::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("../img/hero/hero-bg.jpg");
  background-repeat: no-repeat;
  background-position: 55% -21px;
  background-size: auto 133%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

.hero__list {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.hero__item {
  position: relative;
  text-align: left;
}

.hero__item--inter {
  background-color: #63d1bb;
}

.hero__item--inter::after {
  position: absolute;
  content: " ";
  background-image: url("../img/hero/lamp.svg");
  top: 22%;
  right: 0;
  width: 40px;
  height: 62px;
  margin-right: 40px;
}

.hero__item--toy {
  background-color: #56c3b2;
}

.hero__item--toy::after {
  position: absolute;
  content: " ";
  background-image: url("../img/hero/lego.svg");
  top: 22%;
  right: 0;
  width: 60px;
  height: 60px;
  margin-right: 30px;
}

.hero__link {
  color: #ffffff;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  padding: 24px 160px 31px 26px;
  width: 130px;
}

.hero__item--toy:hover {
  background: #46c1ae;
}

.hero__item--inter:hover {
  background: #59d5bc;
}


.hero__link:hover {
  padding-top: 21px;
}

//tablet//
@media (min-width: $tablet) {
  .hero__title {

    width: 600px;
    margin-bottom: 249px;
  }

  .hero__title::before {
    background-size: auto 268%;
    background-position: 51% -90px;
    background-image: url("../img/hero/hero-desktop.jpg");
  }

  .hero__list {
    display: flex;
    justify-content: center;
  }

  .hero__item {
    width: 100%;
    min-width: 334px;
  }

  .hero__list::after {
    position: absolute;
    content: "";
    background: url("../img/product/zigzag-fill.svg") repeat-x;
    width: calc(100% - 50px);
    height: 24px;
    bottom: -13px;
    left: 0;
    z-index: 15;
    background-position-x: center;
  }

  .hero__link {
    font-size: 20px;
    line-height: 30px;
    padding-left: 39px;
    padding-top: 27px;
  }

  .hero__item--inter {
    margin-left: 116px;
  }

  .hero__item--toy {
    margin-right: 125px;
  }
}
