.hero {
  background-color: #f9f9f9;

  @include tablet {
    position: relative;
  }
}

// .hero::after {
//   @include tablet {
//     position: absolute;
//     content: "";
//     background: url("../img/product/zigzag-fill.svg") repeat-x;
//     width: 100%;
//     height: 24px;
//     bottom: -13px;
//     left: 0;
//     background-position-x: center;
//   }

//   @include desktop {
//     background: url("../img/product/zigzag-fill-desktop.svg") repeat-x;
//     height: 34px;
//     bottom: -20px;
//     left: 0;
//     z-index: 15;

//     @media (min-resolution: 2dppx) {
//       background: url("../img/product/zigzag-fill-desktop@2x.svg");
//     }
//   }
// }

.hero__container {
  @include tablet {
    padding: 0 50px;
  }

  @include desktop {
    margin: 0 auto;
    width: 1050px;
    padding: 0;
  }
}

.hero__title {
  padding: 72px 0 120px;
  text-align: center;
  position: relative;
  width: 260px;
  margin: 0 auto;
  z-index: 5;

  @include tablet {
    padding: 111px 6px 372px 5px;
    min-width: 650px;
  }

  @include desktop {
    padding: 112px 6px 356px 21px;
  }
}

.hero__title::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("../img/hero/hero-bg.jpg");
  background-repeat: no-repeat;
  background-position: 52% -17px;
  background-size: auto 132%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;

  @include tablet {
    background-size: 766px;
    background-position: 52% -43px;
    background-image: url("../img/hero/hero-desktop.jpg");
  }

  @include desktop {
    background-position: 43% -45px;
  }
}

.hero__list {
  @include list-reset;
  width: 100%;
  margin: 0 auto;
  position: relative;

  @include tablet {
    display: flex;
    flex-wrap: wrap;
    min-height: 119px;
  }

  @include desktop {
  }
}

.hero__item {
  position: relative;
  text-align: left;

  @include tablet {
    width: 50%;
  }
}

.hero__item--inter {
  background-color: #63d1bb;
}

.hero__item--inter::after {
  position: absolute;
  content: " ";
  background-image: url("../img/hero/lamp.svg");
  top: 24px;
  right: 35px;
  width: 40px;
  height: 62px;

  @include tablet {
    top: 26%;
    right: 36px;
  }
}

.hero__item--toy {
  background-color: #56c3b2;
}

.hero__item--toy::after {
  position: absolute;
  content: " ";
  background-image: url("../img/hero/lego.svg");
  top: 22px;
  right: 27px;
  width: 60px;
  height: 60px;

  @include tablet {
    top: 26%;
    right: 34px;
  }
}

.hero__link {
  color: #ffffff;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  padding: 25px 160px 31px 30px;
  min-height: 103px;

  @include tablet {
    font-size: 20px;
    line-height: 30px;
    padding-left: 36px;
    padding-top: 26px;
  }
}

.hero__item--toy:hover {
  background: #46c1ae;
}

.hero__item--inter:hover {
  background: #59d5bc;
}


.hero__link:hover {
  padding-top: 21px;
}

