.main-page__hero {
  margin-bottom: 30px;
}

.main-page__week-product {
  margin: 0 auto;
  margin-bottom: 73px;
  width: 100%;
}

.contact__map {
  margin-bottom: 38px;
}

@media (min-width: $tablet) {
  .main-page__hero {
    margin-bottom: 54px;
  }
  .main-page__week-product {
    margin-bottom: 123px;
  }

  .main-page__review {
    margin-bottom: 91px;
  }

  .main-page__contact {
    margin-bottom: 55px;
  }
}

@media (min-width: $desktop) {
  .main-page__hero {
    margin-bottom: 54px;
  }

  .main-page__review {
    margin-bottom: 98px;
  }

}

