.main-form__title {
  position: relative;
  padding: 74px 30px 74px 30px;
  text-align: center;

  @include tablet {
    padding: 57px 50px 74px 50px;
  }

  @include desktop {
    width: 100%;
    padding-bottom: 94px;
  }
}
