.measuare__item {
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid #ececec;
  padding-bottom: 10px;
  padding-top: 5px;
}

.measuare__color {
  width: 107px;
}

.measuare__description {
  width: 170px;
}

@media (min-width: $tablet) {
  .measuare {
    width: 330px;
    padding-top: 22px;
    font-size: 15px;
    line-height: 20px;
  }

  .measuare__item {
    padding-bottom: 14px;
    border-top: 5px;
  }

  .measuare__color {
    width: 98px;
  }
}

