.measuare__item {
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid #ececec;
  margin-right: 26px;
}

.measuare__color {
  width: 107px;
  padding-bottom: 15px;
  //  position: relative;
}

.measuare__description {
  width: 170px;
  margin-left: auto;
}


@media (min-width: $tablet) {
  .measuare {
    width: 330px;
    padding-top: 19px;
    font-size: 15px;
    line-height: 20px;
  }
  .measuare__item{
    padding-bottom: 4px;
  }
}

