.name .form__legend {
  margin-bottom: 26px;
}

.name__list {
  @include list-reset;

  @include tablet {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  @include desktop {
    width: 100%;
    gap: 7px;
  }
}

.name__item {
  margin-bottom: 18px;

  @include tablet {
    display: flex;
    align-items: center;
    column-gap: 26px;
    width: 501px;
    margin-bottom: 15px;
  }

  @include desktop {
    width: 86%;
    margin-bottom: 0;
    align-items: baseline;
  }
}

.name__label {
  flex-direction: column;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;

  @include tablet {
    font-size: 19px;
  }
}

.name__input {
  padding-top: 14px;
  padding-right: 0;
  padding-bottom: 16px;
  border-bottom: 2px solid $light-black;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  width: 100%;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;

  @include tablet {
    font-weight: 400;
    font-size: 19px;
    padding-left: 17px;
    padding-top: 15px;
    padding-bottom: 14px;
  }

  @include desktop {
    padding-bottom: 12px;
    padding-top: 29px;
  }
}

.name__input:hover,
.name__input:active {
  border-color: $acqua-dark;
}

.name__input:focus {
  outline: none;
  border-color: $acqua-dark;
}
