.name .form__legend {
  margin-bottom: 26px;
}

.name__list {
  @include list-reset;
  @include tablet {
    padding-top: 5px;
  }

  @include desktop {
    width: 100%;
  }
}
.name__item {
  margin-bottom: 18px;

  @include tablet {
    display: flex;
    align-items: center;
    column-gap: 25px;
    width: 501px;
    margin-bottom: 26px;
  }

  @include desktop{
    width: 88%;
  }
}



.name__label {
  flex-direction: column;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;

  @include tablet {
    font-size: 19px;

  }
}

.form__label--name {
  padding-left: 0;
}

.name__input {
  padding-top: 18px;
  padding-right: 0;
  padding-bottom: 15px;
  border-bottom: 2px solid $light-black;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  width: 100%;
}

.name__input::placeholder {
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;

  @include tablet {
    font-size: 17px;
    padding-left: 15px;
  }
}




