
.product-catalog__measuare {
  margin-bottom: 25px;
}

.product-catalog__price-description {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  margin-bottom: 24px;
}

.product-catalog__button {
  position: relative;
  margin-left: 30px;
  margin-right: 31px;
}

.product-catalog__button::after {
  content: "";
  background: url("../img/product/zigzag.svg") repeat-x;
  transform: rotate(180deg);
  height: 6px;
  width: 100vw;
  position: absolute;
  bottom: -44px;
  left: -32px;
}

.product-catalog__description-text {
  width: 285px;
  margin-right: auto;
  margin-bottom: 28px;
}

@media (min-width: $tablet) {
  .product-catalog__description-text {
    width: 310px;
  }

  .product-catalog__price-description {
    text-align: left;
    margin-left: 99px;
    font-size: 20px;
    padding-top: 26px;
    margin-bottom: 31px;
  }

  .product-catalog__button {
    min-width: 286px;
    display: inline-block;
  }

  // .product-catalog__button::after {
  //   background: url("../img/product/zigzag-line-desktop.svg");
  //   height: 17px;
  //   bottom: -71px;

  //   @media(min-resolution:2dppx){
  //     background: url("../img/product/zigzag-line-desktop@2x.svg");
  //   }
  // }
}

