
.product-catalog__measuare {
  margin-bottom: 26px;

  @include desktop {
    margin-left: 174px;
  }
}

.product-catalog__price-description {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  margin-bottom: 24px;

  @include tablet {
    text-align: left;
    margin-left: 72px;
    font-size: 20px;
    padding-top: 30px;
    margin-bottom: 32px;
  }

  @include desktop {
    margin-left: 248px;
    padding-top: 85px;
    margin-bottom: 32px;
  }
}

.product-catalog__description-text {
  width: 260px;
  margin-right: auto;
  margin-bottom: 20px;

  @include tablet {
    width: 310px;
  }

  @include desktop {
    margin-left: 175px;
    margin-bottom: 32px;
  }
}

.product-catalog__button {
  @include tablet {
    min-width: 292px;
    display: inline-block;
  }

  @include desktop {
    margin-left: 175px;
  }
}
