.review {
  padding: 0 31px;
  position: relative;

  @include tablet {
    padding: 0;
    position: relative;
  }
}

.review::after {
  content: "";
  background: url("../img/product/zigzag.svg") repeat-x;
  height: 6px;
  width: 100%;
  position: absolute;
  bottom: -50px;
  left: 0;

  @include tablet {
    background: url("../img/product/zigzag-line-desktop.svg") repeat-x;
    height: 17px;
    bottom: -114px;
    background-position: center;
  }

  @include desktop {
    display: none;
  }
}

.review__container {
  width: 262px;
  margin: 0 auto;

  @include tablet {
    width: 100%;
    display: grid;
    grid-template-columns: 74% 26%;
    padding: 22px 51px 18px;
    row-gap: 41px;
  }

  @include desktop {
    position: relative;
    width: 1050px;
    margin: 0 auto;
    grid-template-columns: auto 174px;
    row-gap: 35px;
    padding: 0;
    padding-left: 174px;
  }
}

.review__container::after {
  @include desktop {
    content: "";
    position: absolute;
    background: url("../img/product/zigzag-line-desktop.svg") repeat-x;
    height: 17px;
    width: 100%;
    bottom: -152px;
    left: 0;
    background-position: center;
  }
}

.review__title {
  padding-bottom: 15px;

  @include tablet {
    grid-column: 1/2;
    margin: 0;
    position: relative;
    padding: 0;
    align-self: end;
  }

  @include desktop {


  }
}

.review__sliders-button-wrapper {
  background: $white;
  width: 259px;
  margin: 0 auto 38px;
  display: flex;
  border: 1px solid $light-gray;

  @include tablet {
    position: absolute;
    width: 137px;
    right: 70px;
    bottom: -19px;
    border: 0;
  }

  @include desktop {
    right: 19px;
    bottom: -4px;
  }
}

.review__sliders-button {
  background-color: transparent;

  min-height: 52px;
  min-width: 130px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;

  @include tablet {
    min-width: 0;
    border: none;
  }
}

.review__sliders-button--prev {
  margin-right: 0;
  border-right: 1px solid $light-gray;

  @include tablet {
    border: none;
  }
}

.review__sliders-button--next {
  margin-left: auto;

  svg {
    transform: rotate(180deg);
  }
}

.review__button {

  position: relative;

  @include tablet {
    grid-column: 2/3;
    grid-row: 1/2;
    padding: 14px 36px;
    margin-left: auto;
    margin-bottom: 0;
    min-width: 175px;
    align-self: start;
  }

  @include desktop {
    grid-row: 1/2;
    align-self: start;
  }
}

.review__sliders-button:hover {
  opacity: 0.6;
}

.review__sliders-button:active {
  opacity: 0.3;
}

.review__slider-list {
  @include tablet {
    grid-column: 1/-1;
  }

  @include desktop {
    margin-bottom: 30px;
  }
}

.slider-list__description {
  @include tablet {
    display: inline;
  }
}
