//text-aria//

.textarea__textarea {
  padding: 17px;
  height: 142px;
  width: 100%;
  resize: none;
  border: 2px solid $light-black;
  font-family: "Open Sans";
  font-size: 17px;
  line-height: 18px;
  @include tablet {
    font-size: 19px;
line-height: 18px;
  }

  @include desktop {
    width: 80%;
  }
}



