//text-aria//
.textarea__textarea {
  padding: 15px;
  height: 142px;
  width: 100%;
  resize: none;
  border: 2px solid $light-black;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;

  @include tablet {
    font-size: 19px;
    line-height: 18px;
  }

  @include desktop {
    width: 700px;
  }
}

.textarea__textarea:hover,
.textarea__textarea:active {
  border: 2px solid $acqua-dark;
}

.textarea__textarea:focus {
  outline: none;
  border: 2px solid $acqua-dark;
}
