.week-product {
  position: relative;
  padding: 0 31px;

  @include tablet {
    padding: 0 50px;
  }

  @include desktop {
    padding: 0;
  }
}

.week-product::after {
  content: "";
  background: url("../img/product/zigzag.svg") repeat-x;
  height: 6px;
  width: 100%;
  position: absolute;
  bottom: -42px;
  left: 0;

  @include tablet {
    background: url("../img/product/zigzag-line-desktop.svg") repeat-x;
    height: 17px;
    bottom: -71px;
  }

  @include desktop {
    display: none;
  }
}

.week-product__container {
  width: 262px;
  margin: 0 auto;

  @include tablet {
    padding: 0;
    width: 100%;
  }

  @include desktop {
    position: relative;
    margin: 0 auto;
    width: 1050px;
  }
}

.week-product__container::after {
  @include desktop {
    content: "";
    position: absolute;
    background: url("../img/product/zigzag-line-desktop.svg") repeat-x;
    height: 23px;
    width: 100%;
    bottom: -96px;
    left: 0;
    background-position: center;
  }
}

.week-product__title {
  margin-bottom: 5px;
  text-align: left;
  margin-right: auto;

  @include tablet {
    max-width: 500px;
    margin: 0;
  }

  @include desktop {
    font-size: 53px;
    line-height: 57px;
    max-width: 600px;
    z-index: 15;
  }
}

.week-product__description {
  margin-right: 13px;
  font-size: 17px;
  text-align: left;
  text-transform: uppercase;

  @include tablet {
    width: 100px;
    margin-left: auto;
    margin-right: 14px;
    line-height: 17px;
    text-align: center;
    padding-top: 4px;
  }

  @include desktop {
    order: -1;
    padding: 0;
    margin: 0;
    align-self: center;
  }
}

.week-product__image {
  margin: 0 auto 27px;
  display: block;
  background-color: $white-gray;
  width: 100%;

  @include tablet {
    position: absolute;
    top: 99px;
    right: 0;
    width: auto;
  }

  @include desktop {
    top: 19px;
    right: 0;
  }
}

.week-product__catalog {
  @include tablet {
    position: relative;
  }
}

.week-product__title-wrapper {
  margin-bottom: 16px;

  @include tablet {
    display: flex;
    margin-bottom: 36px;
    align-content: flex-start;
    flex-wrap: wrap;
  }

  @include desktop {
    padding: 80px 0 0 32px;
    align-items: center;
    column-gap: 42px;
    margin-bottom: 36px;
  }
}
