.week-product {
  width: 100%;
  padding: 0 28px 5px 22px;
}

.week-product__title {
  margin-bottom: 5px;
  width: 295px;
  text-align: left;
  margin-right: auto;
}

.week-product__description {
  margin-right: auto;
  margin-bottom: 18px;
  width: 160px;
  text-align: left;
  text-transform: uppercase;
}

.week-product__image {
  margin: 0 auto;
  display: block;
  margin-bottom: 26px;
  background-color: $white-gray;
}


@media (min-width: $tablet) {
  .week-product {
    padding: 0 50px 50px 50px;
  }
  .week-product__title-wrapper {
    display: flex;
    justify-content: flex-start;
  }

  .week-product__title {
    width: 455px;
    padding-left: 0;
  }

  .week-product__description {
    width: 100px;
    margin-left: auto;
    margin-right: 49px;
    text-align: center;
  }

  .week-product__catalog {
    position: relative;

    margin-right: 14px;
  }

  .week-product__catalog::after {
    background: url(../img/product/zigzag-line-desktop.svg);
    height: 17px;
    bottom: -71px;

    @media (min-resolution: 2dppx) {
      background: url("../img/product/zigzag-line-desktop@2x.svg");
    }
  }

  .week-product__image {
    position: absolute;
    top: 99px;
    right: 0;

  }
}
