.week-product {
  width: 100%;
}

.week-product__title {
  margin-bottom: 4px;
  width: 295px;
  text-align: left;
  margin-right: auto;
  padding-left: 26px;
}

.product-catalog__title {
  margin-right: auto;
  width: 160px;
  text-align: left;
  text-transform: uppercase;
  padding-left: 26px;
}

.product-catalog__description-text {
  width: 285px;
  margin-right: auto;
  margin-bottom: 28px;
  padding-left: 27px;
}
