.footer {
  background-color: $white-gray;

  @include tablet {
    padding: 52px 30px 50px 50px;
  }
}

.footer__container {
  padding: 27px 30px 31px 30px;

  @include tablet {
    padding: 0;
  }

  @include desktop {
    width: 1050px;
    margin: 0 auto;
  }
}

.footer__social-list {
  margin-bottom: 52px;
}

.footer__dev {
  display: flex;
  flex-wrap: wrap;
  width: 220px;
  column-gap: 26px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;

  @include tablet {
    width: 223px;
    align-content: center;
    margin: 0;
  }

  @include desktop {
    width: 224px;
  }
}

.footer__dev-description {
  font-weight: 700;
  font-size: 19px;
  line-height: 18px;
}

.footer__dev-svg {
  color: $acqua;
  padding-top: 0;
}

.footer__dev-logo:hover .footer__dev-svg {
  color: #46c1ae;
}

.footer__dev-logo:active .footer__dev-svg {
  color: #46c1ae;
  opacity: 0.3;
}

.footer__wrapper {
  @include tablet {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
}

.footer__wrapper-logo--hidden {
  display: none;

  @include tablet {
    display: block;
    width: 166px;
    padding-top: 0;
  }
}

.footer__wrapper-logo svg {
  color: $black;
}

.footer__wrapper-logo:hover svg {
  color: #46c1ae;
}

.footer__wrapper-logo:active svg {
  color: #46c1ae;
  opacity: 0.3;
}

