.button {
  background: #ffffff;
  border: 2px solid #444444;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  padding: 14px 10px;
  cursor: pointer;
  min-height: 52px;
  min-width: 260px;
  display: block;
  vertical-align: middle;

  @include tablet {
    font-size: 17px;
  }
}

.button:hover {
  background: #444444;
  color: $white;
}
