.button {
  background: $white;
  border: 2px solid #444444;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  padding: 14px 10px;
  cursor: pointer;
  display: block;

  @include tablet {
    font-size: 17px;
  }
}

.button:hover {
  background: $light-black;
  color: $white;
}

button:active {
  color: $white;
  opacity: 0.3;
}
