.main-title {
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
}

@media (min-width: $tablet) {
  .main-title {
    font-size: 43px;
    line-height: 50px;
  }
}

@media (min-width: $desktop){
  .main-title {
    font-size: 53px;
    line-height: 57px;
  }
}
