// background colors
$white: #ffffff;
$acqua: #63d1bb;


//text colors
$black: #000000;
$light-black: #444444;

//border color
$acqua-dark:#62d1ba;

$white-gray:#f1f1f1;
$dark-gray:  #f9f9f9;
$light-gray : #ececec;

// view-port
$tablet: 768px;
$desktop: 1150px;


