.button {
  background: $white;
  border: 2px solid #444444;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  padding: 14px 10px;
  cursor: pointer;
  display: block;
  min-height: 52px;

  @include tablet {
    font-size: 17px;
  }
}

.button:hover,
.button:focus {
  background: $light-black;
  color: $white;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
}
