.nav-list {
  @include list-reset;
  display: inline-block;
  // display: none;
}

.nav-list__item {
  text-align: left;
  position: relative;
}

.nav-list__item::before {
  border-top: 1px solid #ececec;
  width: 100vw;
  height: 1px;
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(calc(-50% + 25px));

  @include tablet {
    display: none;
  }
}

.nav-list__item--for-desktop {
  display: none;

  @include desktop {
    display: block;
  }
}

.nav-list__item--delivery {
  display: none;

  @include tablet {
    display: block;
    grid-column: 4/5;
    grid-row: 2/3;
    justify-self: end;
    padding-top: 18px;
  }

  @include desktop {
    grid-column: 5/6;
    grid-row: 2/3;
    align-self: center;
  }
}

.nav-list__item--catalog {
  @include tablet {
    grid-column: 1/2;
    grid-row: 2/3;
    padding-top: 18px;
  }

  @include desktop {
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: center;
    padding-top: 0;
  }
}

.nav-list__item--knot {
  @include tablet {
    grid-column: 2/3;
    grid-row: 2/3;
    padding-top: 18px;
  }

  @include desktop {
    grid-column: 2/3;
    grid-row: 1/2;
    align-self: center;
    padding-top: 0;
  }
}

.nav-list__item--search {
  @include tablet {
    grid-column: 3/4;
    grid-row: 1/2;
    align-self: end;
    justify-self: end;
    width: 82px;
    min-height: 88px;
    height: 100%;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
  }

  @include desktop {
    grid-column: 4/5;
    grid-row: 1/2;
    align-self: center;
  }
}

.nav-list__link {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  padding: 29px 0 26px 83px;

  @include tablet {
    padding: 3px 0 0 0;
  }

  @include desktop {
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
  }
}

.nav-list__link--icon {
  position: relative;
}

.nav-list__link:hover {
  opacity: 0.6;
}

.nav-list__svg {
  position: absolute;
  left: 14%;
  top: 41%;

  @include tablet {
    position: static;
  }
}

.nav-list__link--icon:hover .nav-list__svg {
  color: $acqua;
  opacity: 0.6;
}

.nav-list__link--icon:active .nav-list__svg {
  color: $acqua;
  opacity: 0.3;
}

.nav-list__link--search {
  @include tablet {
    display: flex;
    justify-content: center;
    top: 32px;
  }
}

.nav-list__item--cart {
  @include tablet {
    grid-column: 4/5;
    grid-row: 1/2;
    justify-self: end;
    align-self: center;
    margin-right: 33px;
  }

  @include desktop {
    grid-column: 5/6;
    grid-row: 1/2;
    align-self: center;
    margin-right: 26px;
  }
}

.nav-list__svg--cart {
  @include tablet {
    margin-right: 32px;
  }

  @include desktop {
    left: 32px;
    top: 32px;
  }
}

.nav-list__text {
  @include tablet {
    display: none;
  }
}

.nav-list__link--delivery {
  @include tablet {
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    margin-right: 32px;
  }

  @include desktop {
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    margin-right: 22px;
  }
}

.nav-list__link--catalog, .nav-list__link--knot {
  @include tablet {
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
  }
}

.nav-list__link--cart {
  @include tablet {
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
  }
}

.nav-list__svg--search {
  @include tablet {
    padding: 0;
    margin: 0;
  }
}

.nav-list__item--special {
  @include desktop {
    position: static;
  }
}

.nav-list__link--sale,
.nav-list__link--new {
  @include desktop {
    font-size: 15px;
    padding: 16px 0 0 0;
  }
}


.nav-list__item--new {
  @include desktop {
    grid-column: 1/2;
    grid-row: 2/3;
    align-self: center;
  }
}

.nav-list__item--sale {
  @include desktop {
    grid-column: 2/3;
    grid-row: 2/3;
    align-self: center;
  }
}
