.nav-list {
  @include list-reset;
  display: inline-block;
  // display: none;
}

.nav-list__item {
  text-align: left;
  position: relative;
}

.nav-list__item::before {
  border-top: 1px solid #ececec;
  width: 100vw;
  height: 1px;
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(calc(-50% + 25px));

  @include tablet {
    display: none;
  }
}

.nav-list__item--for-desktop {
  display: none;

  @include desktop {
    display: block;
    padding-top: 4px;
  }
}

.nav-list__item--delivery {
  display: none;

  @include tablet {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 18px;
  }

  @include desktop {
    top: 92px;
    right: 0;
    padding: 0;
  }
}

.nav-list__item--catalog {
  @include tablet {
    padding-top: 18px;
  }

  @include desktop {
    padding-top: 0;
  }
}

.nav-list__item--knot {
  @include tablet {
    padding-top: 18px;
  }

  @include desktop {
    padding-top: 0;
  }
}

.nav-list__item--search {
  @include tablet {
    position: absolute;
    top: -88px;
    left: 54%;
    transform: translateX(-50%);
    width: 82px;
    min-height: 88px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
  }

  @include desktop {
    top: 0;
    left: calc(70% + 7px);
    z-index: 8;
  }
}

.nav-list__link {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  padding: 29px 0 26px 83px;
  position: relative;
  z-index: 5;

  @include tablet {
    padding: 3px 0 0 0;
    font-size: 15px;
  }

  @include desktop {
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
    padding: 16px 0 0;
  }
}

.nav-list__item:nth-child(1) .nav-list__link,
.nav-list__item:nth-child(2) .nav-list__link {
  @include desktop {
    font-size: 17px;
    padding-bottom: 30px;
    padding-top: 34px;
  }
}

.nav-list__item:nth-child(1) .nav-list__link {
  @include desktop {
    padding-right: 52px;
    position: relative;
  }
}

.nav-list__item:nth-child(1) {
  position: relative;
}

.nav-list__item:nth-child(1)::after {
  @include desktop {
    content: "";
    min-height: 89px;
    height: 100%;
    width: calc(2 * 100vw);
    background-color: #ffffff;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    z-index: 1;
  }
}

.nav-list__item:nth-child(1) .nav-list__link::before {
  @include desktop {
    content: "";
    height: 100%;
    width: 1px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    right: 34px;
    top: 0;
    position: absolute;
  }
}

.nav-list__link--icon {
  position: relative;
}

.nav-list__link:hover {
  opacity: 0.6;
}

.nav-list__svg {
  position: absolute;
  left: 14%;
  top: 41%;
  color: rgba(0, 0, 0, 0.2);

  @include tablet {
    position: static;
  }
}

.nav-list__link--icon:hover .nav-list__svg {
  color: $acqua;
}

.nav-list__link--icon:active .nav-list__svg {
  color: $acqua;
  opacity: 0.3;
}

.nav-list__link--search {
  @include tablet {
    display: flex;
    justify-content: center;
    top: 32px;
  }

  @include desktop {
    top: 20px;
  }
}

.nav-list__item--cart {
  @include tablet {
    position: absolute;
    top: -57px;
    right: 0;
  }

  @include desktop {
    top: 18px;
    right: 3px;
  }
}

.nav-list__svg--cart {
  @include tablet {
    margin-right: 32px;
  }

  @include desktop {
    left: 32px;
    top: 32px;
  }
}

.nav-list__text {
  @include tablet {
    display: none;
  }
}

.nav-list__link--delivery {
  @include tablet {
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
  }

  @include desktop {
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
  }
}

.nav-list__link--cart {
  @include tablet {
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
  }
}

.nav-list__svg--search {
  @include tablet {
    padding: 0;
    margin: 0;
  }
}

.nav-list__link--sale,
.nav-list__link--new {
  @include desktop {
    font-size: 15px;
    padding: 16px 0 0 0;
  }
}
