.nav {
  position: relative;
  text-align: center;
}

.nav--with-js {
  position: absolute;
  width: 100%;
  background: #ffffff;

  @include tablet {
    position: relative;
    background-color: transparent;
  }
}

.nav__toggle {
  top: -48px;
  right: 30px;
  display: none;
  background: url("../img/header/menu-close.svg") no-repeat 0 0;
  cursor: pointer;
  width: 21px;
  height: 21px;
}

.nav--with-js .nav__toggle {
  display: block;
}

.nav--closed .nav__toggle {
  background: url("../img/header/menu.svg") no-repeat 0 0;
}

.nav__list {
  margin-left: -67px;
}

.nav--closed .nav__list {
  display: none;
}

.nav--closed .nav__list,
.nav__list {
  @include tablet {
    display: grid;
    grid-template-columns: 168px 221px;
    margin: 0;
    width: 48%;
  }

  @include desktop {
    display: grid;
    grid-template-columns: 220px 221px;
    margin: 0;
    width: 43%;
  }
}

.nav--with-js .nav__toggle,
.nav__toggle {
  @include tablet {
    display: none;
  }
}
